{% extends "./partials/base.html" %}
{% block content %}
<div class="container mt-4">
  <h1 class="col-12">details de l'article</h1>
  <div class="col-12">
    <h2 id="title-details" >{{post.title}}</h2>
  </div>
  <div class="col-12">
    <img src="{{post.image.url}}" alt="{{post.image}}" class="img img-fluid mx-auto d-block"> <br>
  </div>
  <div class="col-12">
     <p class="bg-light">{{post.content}}</p>
  </div>
  <div class="col-12">
    <p>
      publier {{post.created}} <br> modifier il y'a {{post.modified|timesince}}
    </p>
  </div>
    <div class="col-12 ">
      <a class="btn btn-primary" href="{% url 'posts:update' post.id %} ">modifier</a> <a class="btn btn-danger" href="{% url 'posts:delete' post.id %}"> Supprimer</a>
    </div>
  </div>
</div>
{% endblock content %}